* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1500&q=80') no-repeat center center fixed;*/
    background-image: url('https://picsum.photos/1920/1080');
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Orbitron", sans-serif;
}

.container {
    background: linear-gradient(135deg, #283c86, #45a247, #ffd700);
    padding: 2rem 3rem;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    position: absolute;
    /* Centraliza o container*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        /* Diminui o tamanho do container*/
    }

    100% {
        transform: translate(-50%, -50%) scale(1.08);
        /* Aumenta o tamanho do container*/
    }
}



h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    letter-spacing: 2px;
    background: linear-gradient(135deg, #00f2fe, #4facfe, #43e97b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.buttons {
    margin-bottom: 60px;
}

.button-1 {
    font-size: 2.5rem;
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #04634b;
    color: #333;
    transition: transform 0.1s, background 0.3s;
}

.button-1:hover {
    background: #062222;
    transform: scale(1.15);
}

.button-1:active {
    background: #04634b;
    transform: scale(1.15);
}

.button-2 {
    font-size: 2.5rem;
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #2c0783;
    color: #333;
    transition: transform 0.1s, background 0.3s;
}

.button-2:active {
    background: #2c0783;
    transform: scale(1.15);
}

.button-2:hover {
    background: #0c0616;
    transform: scale(1.15);
}

.button-3 {
    font-size: 2.5rem;
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #4d0343;
    color: #333;
    transition: transform 0.1s, background 0.3s;
}

.button-3:hover {
    background: #241a23;
    transform: scale(1.15);
}

.button-3:active {
    background: #4d0343;
    transform: scale(1.15);
}

.reiniciar {
    font-size: 1.5rem;
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(135deg, #00f2fe, #4facfe, #43e97b);
    color: #333;
    transition: transform 0.1s, background 0.3s;
}

.reiniciar:hover {
    background: linear-gradient(135deg, #0a3335, #095ba3, #06702a);
    transform: scale(1.15);
}

.reiniciar:active {
    background: linear-gradient(135deg, #00f2fe, #4facfe, #43e97b);
    transform: scale(1.15);
}
h3 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #0c0616;
}

h3 span {
    color: #3d0225;
    font-size: 1.8rem;
}

.jogador-ia {
    margin-top: none;
    font-size: 1.8rem;
    color: #0c0616;
}


.jogador-ia span {
    color: #2c054d;
    font-size: 1.8rem;
}

.result { font-size: 1.2em; margin: 10px; color: #333;}
.result.vitoria { color: green; }
.result.derrota { color: red; }
.result.empate { color: orange; }
.result.animar {
  animation: pulseResult 0.5s;
}

@keyframes pulseResult {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

@media screen and (max-width: 900px) {
    .container {
        padding: 20px;
    }

    body {
       background-image: url('https://picsum.photos/1920/1080?random');
    background-size: cover;  
    }

    h1 {
        font-size: 2.5rem;
    }

    .buttons {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .button-1,
    .button-2,
    .button-3 {
        font-size: 2rem;
    }

    .reiniciar {
        font-size: 1.2rem;
    }

    h3, .jogador-ia {
        font-size: 1.5rem;
    }

    h3 span, .jogador-ia span {
        font-size: 1.5rem;
    }
}